html, body {
  height: 100vh;
  background-color: #231e1e;
}

.site-box {
  width: 100vw;
  height: 100vh;
}

.main-chart {
  float:right;
  padding-top: 5%;
  padding-right: 5%;
  bottom: 0;
  right: 0;
  left: 0;
  height: inherit;
  width: inherit;
  background-color: #222;
}


.sidebar {
  float: left;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: inherit;
  width: 10%;
  background-color: #231e1e;
}
